---
layout: default
---
<section>
    <div class="home-image-container">
        <figure class="home-image">
            <img src="{{ site.github.url }}/assets/img/home.jpg" class="image">
            <figcaption class="img-credit small">photo: <a href="http://www.christopherratter.com/" target="_blank">Christopher Ratter</a></figcaption>
        </figure>
        <div class="home-text-container">
            <p class="home-text">
                Elias Nurmi Schomers <a href="https://www.mypronouns.org/he-him" target="_blank" rel="noreferrer noopener">(he/him)</a> is an Oslo-based composer, musician and performer,
                 originally from <a href="https://en.wikipedia.org/wiki/T%C3%BCbingen" target="_blank">Tübingen</a>.
        </div>
    </div>
</section>